<div class="container">
  <div class="row justify-content-center">
    <div class="col-5">

      <h3 class="bg-primary text-white p-3">
        {{getNames()}}'s {{getTitle()}}
      </h3>

      <div class="input-group">
        <input type="text" #toDoText class="form-control"> <!-- listeye ekleme yapmak için öncelikle bir id oluşturuyoruz. input ve butonu ilişkilendirmek için-->
        <div class="input-group-append">
          <button class="btn btn-primary" (click)="addItem(toDoText.value); toDoText.value = '';">Add</button> <!-- button click olduğunda çalışan ng metodu (click) ile buttona basıldığında çalışacak olan metodu içerisine kaydediyoruz. bu metod todoText isimli inputun value sunu parametre olarak alacak ve metod çalışacak. ve işlem bittikten sonra todotext in value sunun değerini sıfırlıyoruz yeni ekleme yapılabilmesi için.-->
        </div>
      </div>

      <div class="custom-control custom-checkbox my-3"> <!-- tüm to do ların gözükmesi kullanıcıya bağlı olsun diye bir checkbox oluşturuyoruz tıklandığında yesler de nolar da gözükecek.-->
        <input type="checkbox" class="custom-control-input" id="displayAll" [(ngModel)]="isDisplayAll"> <!-- çift yönlü binding olması gerekiyor ngModel kullanıyoruz. ve ilgili değişkene işaretli olup olmadığı durumunu atıyoruz. işaretli true, işaretsiz false.-->
        <label for="displayAll" class="custom-control-label p-2">Display All</label>
      </div>

      <table class="table table-striped table-bordered">

        <thead>
          <tr>
            <th></th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of getItems(); let i = index">
            <td>{{i + 1}}</td>
            <td>{{item.description}}</td>
            <td>
              <input type="checkbox" [(ngModel)]="item.action"> <!-- formsModule ü import ettikten sonra ngModel ile çift yönlü binding yaparak kullanıcının action check lerinde işaretleme yapması durumunda action değerinin de değişmesi ayarlandı. ngModel formsModule de bulunuyor.-->
            </td> <!-- two-way binding - [(ngModel)] ile model hem bind ediliyor çıktı olarak kullanıcıya gösteriliyor hem de kullanıcının girdisini alıyor component e gönderip oradan model.ts te değişikliği sağlayıp tekrar component üzerinden bu html dosyası ile değişikliği yansıtıyor.-->
            <td [ngSwitch]="item.action"> <!-- action dan gelen boolean değeri kullanıcının anlayabileceği şekilde switch case yapısı otomatikleştirdik.-->
              <span *ngSwitchCase="true">
                Yes
              </span>
              <span *ngSwitchCase="false">
                No
              </span>
            </td>
          </tr>
          
        </tbody>

      </table>
    </div>
  </div>
</div>